body{
    margin: 0;
    font-family: 'Heebo', sans-serif;
    padding-top: 80px;
}

.container{
    max-width: 1440px;
    margin: auto;
    padding: 0 16px;
}

ul{
    margin: 0;
    padding: 0;
}

header{
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header .logo{
    display: inline-block;
    font-size: 27px;
}

header .logo .blue-dot{
    background-color: #3E50E5;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

header nav {
    display: inline-block;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a{
    color: #3E3E3E;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.037em;
    margin-right: 24px;
    text-decoration: none;
}

header nav ul li a:hover{
    color: #3E50E5;
    transition: all 0.4s;
}

header nav ul li:last-of-type a{
    margin-right: 0;
}

section.hero {
    position: relative;
}

section.hero img{
    width: 100%;
    height: auto;
}

.hero-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hero-content .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.hero-content h1 {
    color: #FFF;
    max-width: 495px;
    font-family: 'Heebo', sans-serif;
    font-size: 50px;
    letter-spacing: 1.25px;
    line-height: 56px;
    margin-bottom: 16px;
    margin-top: 0;
    font-weight: normal;
}

.hero-content p {
    color: #FFF;
    max-width: 495px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.25px;
    line-height: 28px;
    margin-bottom: 21px;
    margin-top: 0;
}

.hero-content button {
    height: 50px;
    width: 220px;
    max-width: 100%;
    color: #FFF;
    background-color: #3E50E5;
    border-radius: 92px;
    font-family: "Heebo";
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 24px;
    text-align: center;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.hero-content button:hover {
    color: #3E50E5;
    background-color: #FFF;
    border: 1px solid #3E50E5;
    transition: all 0.4s;
}

section.Best-Sellers {
    padding-top: 80px;
    
}

section.Best-Sellers h2 {
    text-align: center;
    font-size: 34px;
    letter-spacing: 0.85px;
    line-height: 42px;
    font-weight: normal;
    margin: 0 0 14px 0;
}

section.Best-Sellers hr {
    border: none;
    border-top: 5px solid #67f11d;
    width: 66px;
}

section.Best-Sellers .product-slider {
    margin-top: 76px;
}

section.Best-Sellers .container {
    display: flex;
    justify-content: space-around;
    padding: 0 8px;
}

section.Best-Sellers .product-slider .product{
    border: 1px solid #DDD;
    border-radius: 8px;
    background-color: #FFF;
    width: 33%;
    text-align: center;
    margin: 0 8px;
    padding: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

section.Best-Sellers .product-slider .product img{
    max-width: 100%;
}

section.Best-Sellers .product-slider .product.new::before{
    content: "New";
    color: #FFF;
    background-color: red;
    padding: 4px 15px;
    border-radius: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    position: absolute;
    top: 12px;
    right: 12px;
}

section.Best-Sellers .product-slider .product .product-info{
    margin-top: 50px;
}

section.Best-Sellers .product-slider .product .product-info .categoties{
    color: #3E50E5;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.35px;
    line-height: 30px;
    margin-bottom: 8px;
    margin-top: 0;
}

section.Best-Sellers .product-slider .product .product-info .title{
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.5px;
    line-height: 26px;
    margin-bottom: 6px;
    margin-top: 0;
}

section.Best-Sellers .product-slider .product .product-info .price{
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0.7px;
    line-height: 30px;
    margin-bottom: 16px;
    margin-top: 0;
}

section.Best-Sellers .product-slider .product .product-info .price .discounted-price{
    color: #EC1C1C;
}

section.Best-Sellers .product-slider .product .product-info .price .original-price{
    color: #9B9B9B;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.4px;
    text-decoration: line-through;
}

section.Best-Sellers .product-slider .product .product-info button{
    height: 50px;
    width: 219.5px;
    border-radius: 220px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.4px;
    line-height: 24px;
    border: 1px solid #000;
    background-color: #FFF;
}

section.Best-Sellers .product-slider .product:hover .product-info button{
    color: #FFF;
    background-color: #3E50E5;
    border: 1px solid #3E50E5;
    transition: all 0.4s;
}

section.Newsletter{
    background-color: rgba(184, 184, 184, 0.18);
    max-width: 955px;
    text-align: center;
    padding: 72px 0;
    margin: 80px auto;
}

section.Newsletter h3{
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
    letter-spacing: 0.6px;
}

section.Newsletter h3{
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
    letter-spacing: 0.6px;
    margin-top: 0;
    margin-bottom: 10px;

}

section.Newsletter p{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-top: 0;
    margin-bottom: 20px;
}

section.Newsletter form{
    display: flex;
    justify-content: center;    
}

section.Newsletter form input{
    height: 50px;
    width: 326px;
    max-width: 80%;
    box-sizing: border-box;
    border-radius: 60px 0px 0px 60px;
    border: 1px solid #3E3E3E;
    border-right: none;
    color: #3E3E3E;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 21px;
    padding-left: 22px;
}

section.Newsletter form button{
    height: 50px;
    width: 145px;
    max-width: 20%;
    background-color: #3E50E5;
    box-sizing: border-box;
    border-radius: 0px 60px 60px 0px;
    border: 1px solid #3E3E3E;
    color: #FFF;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 21px;
    text-transform: uppercase;
    cursor: pointer;
}

section.Newsletter form button:hover{
    color: #3E50E5;
    background-color: #FFF;
    border: 1px solid #3E3E3E;
    transition: all 0.4s;
}

footer .bottom-nav {
    padding: 60px 0;
    background-color: #3E3E3E;
}

footer .bottom-nav .container{
    max-width: 955px;
    display: flex;
    justify-content: space-between;
}

footer .bottom-nav ul li a{
    color: #E0E0E0;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 22px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-decoration: none;
    display: block;
}

footer .bottom-nav ul li a:hover{
    color: #3E50E5;
}

footer .bottom-nav ul {
    list-style: none;
}

footer .bottom-nav ul li.list-title{
    color: #FFF;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.5px;
    margin-top: 0;
    margin-bottom: 20px;
}

footer .copyright-text{
    color: #FFF;
    background-color: #2B2B2B;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 22px;
}

footer .copyright-text a{
    list-style: none;
    color: #FFF;
    text-decoration: none;
}

footer .copyright-text a:hover{
    color: #3E50E5;
    transition: all 0.4s;
}